// ********** BASE STYLES ********** //
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Syncopate:wght@400;700&display=swap');

:root {
  --color-white: #fff;
  --color-font: #414040;
  --color-primary: #09967e;
  --color-primary-light: #a8bace;
  --color-primary-dark: #323546;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: rgb(39, 39, 39);
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-white);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-font);
  min-height: 100vh;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

//////////*** LAYOUT ***//////////

/* ***BASE STYLE*** */

.navbar {
  padding: 2rem;
  display: flex;
  align-items: center;
  // max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: var(--color-grey-dark-1);
}
.navbar h1 {
  color: #09967e;
  font-family: 'Syncopate', sans-serif;
  font-size: 2rem;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 12px;
  text-decoration: none;
  padding: 6px;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-white);
}

.navbar a:visited {
  color: var(--color-font);
  color: var(--color-white);
}
.navbar a:hover {
  color: #757575;
}
.content {
  // margin: 20px auto;

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* ***TRIP LIST-PREVIEW STYLE*** */
.trip-preview {
  padding: 10px 16px;
  margin: 16px 0;
  border-bottom: 1px solid #fafafa;
  width: 33.333%;
}
.trip-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.trip-preview h2 {
  font-size: 20px;
  color: #09967e;
  margin-bottom: 8px;
}
.trip-preview a {
  text-decoration: none;
}

/* ***BLOG DETAILS*** */
.trip-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

/* ***BLOG DETAILS PAGE*** */
.trip-details h2 {
  font-size: 2rem;
  color: #09967e;
  margin-bottom: 10px;
}
.trip-details div {
  margin: 20px 0;
}
.trip-details button {
  background: #09967e;
  color: #fff;
  border: rgba(0, 0, 0, 1);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* ***CREATE NEW BLOG FORM*** */
.add {
  width: 100%;
  padding: 4rem 12rem;
  margin: 0 auto;
}
.add label {
  text-align: left;
  display: block;
  font-size: 1.8rem;
}
.add h2 {
  font-size: 3rem;
  color: #09967e;
  margin: 3rem 0;
}
.add input,
.add textarea,
.add select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
}
button {
  background-color: #09967e;
  color: #fff;
  border: 0;
  padding: 9px;
  border-radius: 9px;
  cursor: pointer;
}
.add p {
  font-size: 1.6rem;
}

.add-title {
  width: 50%;
}
.add-continent {
  width: 50%;
}
.add-title-continent {
  display: flex;
}

/* ***HOME PAGE GALLERY IMAGES*** */

.gallery {
  display: flex;
}
.gallery-img {
  width: 100%;
  display: block;
}

.welcome-text h2 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
h1 {
  color: #09967e;
  font-family: 'Syncopate', sans-serif;
  font-size: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.5rem;
}
