// ********** BASE STYLES ********** //
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Montserrat:wght@300,400,500,600,700&family=Syncopate:wght@400;700&display=swap');

:root {
  --color-primary: #19a193;
  --color-primary-dark: #088772;
  --color-white: #fff;
  --color-font: #444444;
  --color-accent-1: #1c77c3;
  --color-accent-2: #f39237;
  --color-accent-3: #d63230;
  --color-dark: #1e1e24;

  --logo-size: 3rem;
  --font-primary: 'Montserrat', sans-serif;
  --font-accent: 'Poppins', sans-serif;
  --font-logo: 'Syncopate', sans-serif;
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--color-font);
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
}

//////////*** LAYOUT ***//////////
.logo {
  color: var(--color-primary);
  font-family: var(--font-logo);
  font-size: 4rem;
}
.main-content {
  margin: 0 auto;
  flex: 1;
}
.content {
  padding: 4rem 8rem;
}
.page-title {
  font-size: 3rem;
  font-family: var(--font-accent);
  font-weight: 500;
}

button {
  background: var(--color-primary);
  border: none;
  padding: 10px 17px;
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
button:hover {
  background: var(--color-primary-dark);
  //border: rgba(0, 0, 0, 1);
  // padding: 10px 15px;
  // border-radius: 13px;
  cursor: pointer;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.trip-details button a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 500;
}

/* ***HOME PAGE *** */
.heading-primary h2 {
  font-size: 2rem;
}
hr {
  width: 70%;
  margin: 0 auto;
}

/* ***TRIP LIST-PREVIEW STYLE*** */
.trip-preview {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  margin: 16px 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
}
.trip-preview img {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.trip-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}
.trip-preview h2 {
  font-size: 20px;
  color: var(--color-primary);
  margin-bottom: 8px;
}
.trip-preview a {
  text-decoration: none;
}

/* ***ALL TRIPS LIST - DB DATA *** */
.alltrips-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}
.alltrips-list h3 {
  margin-top: 1rem;
  font-family: var(--font-accent);
  font-size: 1.8rem;
  font-weight: 500;
}
.alltrips-list a {
  color: var(--font-primary);
}
.alltrips-list p {
  font-size: 1.4rem;
}

/* ***TRIP:ID DETAILS PAGE*** */
.trip-details article {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.trip-details-text {
  width: 50%;
}
.trip-details-img {
  width: 40%;
}
.trip-details h2 {
  font-size: 3rem;
}
.trip-details h3 {
  font-size: 2.2rem;
  font-weight: 300;
}
.trip-details div {
  margin: 2rem 0;
}

.trip-details img {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}
.author {
  font-size: 1.2rem;
}

/* ***ADD NEW TRIP PAGE*** */
.add {
  width: 70%;
  margin: 0 auto;
}
.add form {
  padding: 5rem;
}
.add label {
  text-align: left;
  display: inline-block;
  font-weight: 500;
  line-height: 0.8;
}
.add label:not(:first-child) {
  margin-top: 3rem;
}
.add input,
.add textarea,
.add select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--color-dark);
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  font-family: inherit;
}

.add p {
  font-size: 1.6rem;
}

/* ***HOME PAGE HEADER/GALLERY IMAGES*** */

.gallery {
  display: flex;
  width: 100%;
}
.gallery-img {
  width: 100%;
  display: block;
}

/* ***NAVBAR*** */
.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-white);
  width: 100%;
}
.navbar h1 {
  color: var(--color-primary);
  font-family: var(--font-logo);
  font-size: var(--logo-size);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-dark);
  transition: all 0.2s ease-in;
}
.navbar a:last-child {
  margin-right: 16px;
}
.navbar a:visited {
  color: var(--color-dark);
}
.navbar a:hover {
  color: var(--color-primary);
}

/* ***FOOTER*** */
.footer {
  padding: 3rem;
  text-align: center;
  background-color: var(--color-dark);
}
.footer h1 {
  color: var(--color-primary);
  font-family: var(--font-logo);
  font-size: var(--logo-size);
}

.footer a {
  margin-left: 12px;
  text-decoration: none;
  padding: 6px;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-white);
  transition: all 0.2s ease-in;
}

.footer a:visited {
  color: var(--color-white);
}
.footer a:hover {
  color: var(--color-primary);
}
.copyright {
  color: var(--color-white);
  padding-top: 3rem;
  font-size: 1.1rem;
}

/* ***BOOSTRAP STYLES*** */
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
